// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
h1, p {
  text-align: center;
}

.image-centered {
  display: flex;
  justify-content: center;
}